@media (max-width: 850px) and (orientation: portrait) {
	body {
		font-size: 2.5vw;
		}

	.m-flex {
		display: flex;
	}

	.m-column {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.m-row {
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}

	.m-center {
		-webkit-align-items: center;
		    -ms-align-items: center;
		        align-items: center;
		-webkit-justify-content: center;
		    -ms-justify-content: center;
		        justify-content: center;
	}

	.m-hide{
		display: none;
	}

	/* NAVBAR */
	#navbar {
		pointer-events: none;
	}

	#navbar:hover {
		opacity: 0;
	}

	/* PAGES */
	#title {
		height: 112vh;
	}

	#intro {
		height: 115vw;
	}

	#how {
		height: 230vw;
	}

	#feature {
		margin-bottom: -5vw;
		padding: 5vw;
	}

	#team {
		padding: 2vw 5vw;
	}

	#faq {
		padding: 5vw 20vw;
	}

	#contact {
		padding: 5vw 20vw;
	}

	#notice {
		padding: 1vw 1vw;
	}

	/* TITLE */
	#title>#lang {
		top: 5vw;
		left: 5vw;
	}

	#title .area {
		width: 100%;
	}

	#white {
		width: 160%;
		height: 73%;
		transform:
			translate(-20%, 28%)
			rotate(-11deg);
	}

	#title .content {
		width: auto;
		padding: 45% 5% 25% 5%;
		z-index: 101;
		text-align: center;
		-webkit-justify-content: center;
		    -ms-justify-content: center;
		        justify-content: center;
	}

	#logo {
		height: 20vw;
		width: 20vw; /* for IE */
		margin-right: 2%;
	}

	#title .text-b {
		margin-bottom: 1em;
	}

	#title .button:hover {
		background-color: rgba(0, 0, 0, 0.1);
		border: solid #555555 3px;
	}

	/* FEATURE */
	#feature>.content {
		flex-wrap: nowrap;
		padding: 0;
	}

	#feature>.content>.item {
		flex: 0 0 auto;
		margin: 4vw;
		padding: 6vw;
	}

	#feature .icon {
		height: 15vw;
	}

	#feature .item>.title {
		margin: .5em 0;
	}

	/* TIMELINE */
	#timeline>.canvas>.vline {
		background-color: #000000;
		width: .5vw; /* Sync with timeline.js!! */
	}

	#timeline>.canvas>.event {
		width: 3.47vw; /* Sync with timeline.js!! */
		height: 3vw; /* Sync with timeline.js!! */
		margin: .5vw; /* Sync with timeline.js!! */
	}

	#timeline>.canvas .eventBox {
		top: -1.4vw;
		width: 45vw;
	}

	#timeline>.canvas>.event:nth-child(4n)>.eventBox {
		left: 5vw;
		text-align: left;
	}

	#timeline>.canvas>.event:nth-child(4n+2)>.eventBox {
		right: 5vw;
		text-align: right;
	}

	/* Team */
	#team>#advisor {
		margin: 0 5vw;
	}

	#team>#advisor>.person {
		flex: 0 0 auto;
		max-width: initial;
	}

	#team>#advisor>.person .content{
		flex: 1 0 0;
	}

	#team>#advisor>.person .headpic {
		margin: 2vw 2vw;
	}

	#team>#advisor>.person .headpic>img {
		height: 25vw;
		width: 25vw;
		max-height: 180px;
		max-width: 180px;
	}

	#team>#member>.person .headpic {
		margin: 1vw 0;
	}

	#team>#member>.person .headpic>img {
		height: 15vw;
		width: 15vw;
	}

	#team>#member>.person {
		width: calc(25% - 2vw);
	}

	#team>#member>.person .name {
		font-size: 2em;
		line-height: 1em;
		margin: .5em 0;
		height: 2em;
	}

	#team>#member>.person .type {
		font-size: 1.25em;
		margin: .25em 0;
	}

	#team>#other>.person {
		width: calc(50% - 2vw);
	}

	#team>#other>.person .headpic {
		margin: 1vw 0;
	}

	#team>#other>.person .headpic>img {
		height: 20vw;
		width: 20vw;
	}

	#team>#other>.person .name {
		line-height: 1em;
		margin: .2em 0;
		height: 2em;
	}

	#team>#other>.person .type {
		margin: .25em 0;
	}
}