/* FONT */
@font-face {
	font-family: "Myriad Pro"; 
	src: url(myriad.ttf);
}
@font-face {
	font-family: "Myriad Pro"; 
	font-weight: bold;
	src: url(myriad_bold.ttf);
}
@font-face {
	font-family: "Myriad Pro"; 
	font-weight: 900;
	src: url(myriad_900.ttf);
}
body{
	font-family: "Myriad Pro";
}

/* PAGES */
.page{
	width:100%;
	min-height:100vh;
	position: relative;
}

#title{
	background-image: url('titlebg.png');
	background-size: cover;
	background-position: top;
}

#intro{
	background-color: #A3E4D7;
}

#how{
	background-color: #BBF3FC;
}

#feature{
	background-color: #F9EDBB;
}

#roadmap{
	background-color: #D6CBF7;
}

.hex{
	position: absolute;
}

/* TITLE */
#title .area{
	width: 80%;
	position: relative;
}

#white{
	width: 100%;
	height: 117%;
	position: absolute;
	background-color: #FFFFFF;
	transform:
		translate(-26%, -9%)
		rotate(-11deg);
}

#title .content{
	width: 80%;
	padding: 8% 12%;
	position: relative;
}

#pallet{
	align-items: center;
	padding-bottom: 1em;
}

#logo{
	height: 30%;
	margin-right: 5%;
}

#pallet>span{
	font-size: 6em;
	font-weight: 900;
	color: #666666;
	vertical-align: middle;
	padding-top: .1em;
}

#title .text-a{
	font-size: 3em;
	font-weight:400;
	margin-bottom: 0.5em;
}

#title .text-b{
	font-size: 1.5em;
	font-weight: 200;
	margin-bottom: 2em;
}

#title a{
	font-size: 2em;
	font-weight: bold;
	padding: .4em .8em;
	margin-right: 5%;
	background-color: rgba(0,0,0,0);
	border:solid #000000 3px;
}

#title a:hover{
	background-color: rgba(0,0,0,0.1);
	border:solid #000000 3px;
}

/* INTRO */
.hex>.text{
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 15% 15%;
}

.hex>.text>.title{
	font-size: 2vw;
    font-weight: bold;
    text-decoration: underline
}

.hex>.text>p{
	font-size: 1.2em;
	line-height: 1em;
}

#pallet-block>.text{
	padding: 12% 20%;
}

#pallet-block>.text>.title{
	font-size: 3.5vw;
}

#pallet-block>.text>p{
	font-size: 1.5em;
	line-height: 1.2em;
}