@media only screen and  (orientation: portrait) {
    body {
        display: unset
        ;
    }
    .navbar-fixed {
        height: 6vh;
        /* padding-top: 2vw; */
        /* width: 100%; */
    }
    .menu_mark-fixed {
        font-size: 5vw;
    }
    .menubar-fixed {
        /* width: 56%; */
    }
    .navbar-fixed .menubar  .menu_item {
        font-size: 3vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .menubar  .menu_item {
        font-size: 3vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .navbar:not(.navbar-fixed) .menubar  .menu_item {
        display: inline-block;
        
        margin-top: 1.5vw;
    }
    .navbar:not(.navbar-fixed) .menubar  .menu_item_2 {
        width: 16%;
    }
    .navbar:not(.navbar-fixed) .menubar  .menu_item_1 {
        width: 24%;
    }
    width: 17%;
    .menubar {
        /* width: 50%; */
        /* display: block; */
        /* position: relative; */
    }
    /*.menubar:not(.menubar-fixed) .menu_item_br {
        display:block;
    }*/
    .hex-pos-1 {
        width: 62.9708%;
        padding-bottom: 62.9708%;
        transform: translate(34.4083%, 79.409%);
    }
    .hex-pos-3 ,.hex-pos-6,.hex-pos-9 ,.hex-pos-7 ,.hex-pos-8 {
        display:none;
    }
    .hex-pos-2 {
        width: 19.3731%;
        padding-bottom: 19.3731%;
        transform: translate(40.0358%, 468.555%);
    }
    .hex-pos-4 {
        width: 19.3726%;
        padding-bottom: 19.3726%;
        transform: translate(34.778%, 276.957%);
    }
    .hex-pos-5 {
        width: 19.3731%;
        padding-bottom: 19.3731%;
        transform: translate(396.666%, 465.781%);
    }
    .info-main .content {
        font-size: 20pt;
        font-size: 2.6vw;
    }
    .content-a {
        font-size: 16pt;
        font-size: 2vw;
    }
    .info-coinitem .title {
        font-size: 22pt;
        font-size: 2.6vw;
    }
    .info-coinitem .content {
        font-size: 22pt;
        font-size: 1.8vw;
    }
    .block-d {
        width: 140.252%;
        padding-bottom: 258.946%;
        transform: translate(0, 33.349%) rotate(7.30095deg);
    }
    .block-e {
        width: 110.578%;
        padding-bottom: 54.0907%;
        transform: translate(-6.33836%, 624.22%) rotate(0deg);
        z-index: 1503;
    }
    .main-background {
        height: 830%;
    }
    .content-diff {
        width: 75vw;
        height: 40vw;
    }
    .content-diff .title h2 {
        font-size: 3.5vw;
    }
    .content-diff .title {
        margin-top: 2%;
    }
    .content-diff .content {
        font-size: 2.5vw;
    }
    .content-diff .logo {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .content-diff img {
        height: calc(30px + 6vw);
    }
    .content-c h1, .content-d h1 {
        font-size: 60pt;
        font-size: 5.2vw;
    }
    .DownWhitePaperButton {
        border-top: 2px solid rgb(102,102,102) !important;
        border-left: 2px solid rgb(102,102,102) !important;
        border-right: 2px solid rgb(102,102,102) !important;
        border-bottom: 2px solid rgb(102,102,102) !important;
    }
    .logo-toolbar-img {
        /* padding: 0.8vw; */
        /* display: inline-block; */
        /* position: absolute; */
        /* width: 6vw; */
        /* padding-left: 1.2vw; */
    }
    .menu_mark-fixed {
        /* padding-left: 7vw; */
        /* padding-bottom: 0.5vw; */
        height: 100%;
        /* vertical-align: middle; */
        /* padding-left: 2.5vw; */
    }
    .navbar-fixed .logo-toolbar-img {
        /* padding: 0.5vw; */
        width: 6vw;
        /* padding-top:1.0vw; */
        /* padding-left: 1.2vw; */
        /* margin-top: -50%; */
        /* margin-top: 0.6vh; */
        /* margin-left: 1vw; */
        top: 0;
        bottom: 0;
        /* left: 0; */
        /* right: 0; */
        margin: auto;
        margin-left: 1vw;
    }
    .menu_logo-toolbar-img {
        display: table-cell;
        /* position: absolute; */
        width: 10vw;
        width: 5vh;
        /* padding-left: 1.2vw; */
        /* display: none; */
        /* padding-top: 0.2vh; */
        vertical-align: middle;
        /* position: absolute; */
        /* margin: 0 auto; */
        margin: 0.5vh;
        /* margin-bottom: 0.5vh; */
        margin-right: 0;
    }
    .menu_logo_title h1 {
        /* width: 60%; */
        text-align: left;
        font-size: 64pt;
        font-size: 6vw;
        display: block;
        font-weight: 900;
        display: inline-block;
        line-height: 1em;
        height: 100%;
        /* padding-left: 4vw; */
        display: table-cell;
    }
}