html, body {
	width: 100%;
	height: 47vw;
	padding: 0;
	margin: 0;
}
em {
	font-style: italic;

}
em:first-letter {
	text-transform: uppercase;
}
@font-face {
  font-family: "Myriad Pro"; 
  src: local("Myriad Pro Regular"),
  local("Myriad Pro"),
  url(myriad.ttf),url(myriad.eot);
}
@font-face {
  font-family: "Myriad Pro"; 
  font-weight: bold;
  src: local("Myriad Pro Bold"), url(myriad_bold.ttf),url('myriad_bold.eot');
}
@font-face {
  font-family: "Myriad Pro"; 
  font-weight: 900;
  src: local("Myriad Pro SemiExt"), url(myriad_bold900.ttf),url('myriad_bold900.eot');
}
.main-background {
	font-family: "Myriad Pro",arial,helvetica,sans-serif;
	position: relative;
	margin: 0;
	padding: 0;
	overflow:hidden;
	width: 100%;
	height: 650%;
	margin-left: 0;
	margin-right: 0;
}
.blocks {
	position: absolute;
	display: block;
	padding: 0;
	margin: 0;
	transform-origin: top left;
}
.block-a {
	/* 70.454, 55.4523, -23.2476, -3.99857, -11.2921 */
	background-color: rgba(255,255,255,1);
	width: 70.454%;
	padding-bottom: 55.4523%;
	transform: translate(-23.2476%, -3.99857%) rotate(-11.2921deg);
	z-index: 1507;
	filter: drop-shadow(0px 1vw 0.5vw rgba(0,0,0,0.15));
}
.block-a2 {
	/* 70.454, 55.4523, -23.2476, -3.99857, -11.2921 */
	background-color: rgba(255,255,255,1);
	width: 70.454%;
	padding-bottom: 55.4523%;
	transform: translate(-32.6476%, -73.99857%) rotate(-5.2921deg);
	z-index: 1507;
	filter: drop-shadow(0px 1vw 0.5vw rgba(0,0,0,0.15));
}
.block-b {
	/* 128.662, 43.3752, -10.8707, 106.066, 11.579 */
	background-color: rgba(163,228,215,1);
	width: 128.662%;
	padding-bottom: 43.3752%;
	transform: translate(-10.8707%, 106.066%) rotate(11.579deg);
	z-index: 1506;
}
.block-c {
	/* 139.002, 80.3237, -15.426, 114.843, -5.40391 */
	background-color: rgba(187,243,252,1);
	width: 139.002%;
	padding-bottom: 80.3237%;
	transform: translate(-15.426%, 114.843%) rotate(-5.40391deg);
	z-index: 1505;
}
.block-d {
	/* 140.252, 108.946, -13.313, 133.349, 7.30095 */
	background-color: rgba(249,237,187,1);
	width: 140.252%;
	padding-bottom: 108.946%;
	transform: translate(-13.313%, 133.349%) rotate(7.30095deg);
	z-index: 1504;
}
.block-e {
	/* 110.578, 54.0907, -6.33836, 474.229 */
	background-color: rgba(214,203,247,1);
	width: 110.578%;
	padding-bottom: 54.0907%;
	transform: translate(-6.33836%, 474.22%) rotate(0deg);
	z-index: 1503;
}
.block-e .blocks-content {
	position: absolute;
	left: 6.33836%; /* 6.33836/110.578*100 */
	top: 5%;
	width: 90.4339%; /* 10000/110.578 */
	z-index: 1403;
}
.blocks-content h1 {
	margin-top: 8%;
	margin-bottom: -5%;
	width: 100%;
	text-align: center;
	font-size: 48pt;
	font-size: 4vw;
	display: block;
	line-height: 56pt;
	line-height: 6.5vw;
	font-weight: 900;
	color: rgb(102,102,102);
}
.content-a h1 {
	width: 60%;
	text-align: left;
	font-size: 64pt;
	font-size: 6vw;
	display: block;
	font-weight: 900;
	display: inline-block;
	line-height: 1em;
}
.content-c h1, .content-d h1 {
	width: 100%;
	text-align: center;
	font-size: 48pt;
	font-size: 4vw;
	display: block;
	line-height: 56pt;
	line-height: 6.5vw;
	font-weight: 900;
}
.content-a h2 {
	width: 100%;
	text-align: left;
	font-size:24pt;
	font-size:3vw;
	display: block;
	line-height: 32pt;
	line-height: 3.5vw;
	padding-bottom: 12px;
}
.content-a {
	font-size:12pt;
	font-size:1.5vw;
	color: rgb(102,102,102);
}
.hex-type-a, .hex-type-b2 {
	background-color: rgba(255,255,255,0);
	z-index: 1601;
}
.hex-type-b {
	background-color: rgba(255,255,255,0);
	z-index: 1600;
}
div.hexs-clipbox {
	transform:scale(1.0);
}
.hex-type-a > div.hexs-clipbox, .hex-type-b2 > div.hexs-clipbox  {
	background-color: rgba(255,255,255,1);
}
.hex-type-b > div.hexs-clipbox {
	background-color: rgba(255,255,255,0.5);
}
.hex-type-b svg {
	fill-opacity: 0.5;
}
div.hexs > div.hexs-content {
	position: absolute;
	z-index: 1700;
	height: 86.7%;
	width: 100%;
	z-index: 1700;
}

.hex-pos-1 > div.hexs-content {
	text-align: center;
}
.hex-tile {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-image: url(web_bg.png);
	z-index: 1300;
}
.hexs-content .hexs-outer {
	position: absolute; 
	width: 100%; 
	height: 100%;

	z-index: -1;
}
.hexs-content .hexs-outer > svg {
	z-index: 10000;
	transform-origin: 50% 50% 0px;
}
.hex-type-a:hover .hexs-outer > svg {
	filter: drop-shadow(0px 0.9vw 0.45vw rgba(0,0,0,0.15));
}
.hexs-content .hexs-inner {
	position: absolute; 
	width: 100%; 
	height: 100%;
}
.info-main {
	position: relative;
	padding-top: 10%;
	width: 100%;
}
.info-main .title {
	font-size: 16pt;
	font-size: 3.3vw;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: rgb(102,102,102);
}
.info-main .content {
	margin-top: 6%;
	font-size: 12pt;
	font-size: 1.5vw;
	width: 100%;
	text-align: center;
	line-height: 1.2em;
	color: rgb(102,102,102);
}
.info-main .content p {
	margin-bottom:0.6em;
}
.info-coinitem {
	position: relative;
	padding-top: 20%;
	width: 100%;
}
.info-coinitem .title {
	font-size: 22pt;
	font-size: 2.0vw;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: rgb(102,102,102);
}
.info-coinitem .content {
	margin-top: 6%;
	font-size: 12pt;
	font-size: 1.2vw;
	width: 100%;
	text-align: center;
	line-height: 1em;
	color: rgb(102,102,102);
}
.info-coinitem-tiny {
	position: relative;
	padding-top: 10%;
	width: 100%;
}
.info-coinitem-tiny .title {
	font-size: 18pt;
	font-size: 1.5vw;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: rgb(102,102,102);
}
.info-coinitem-tiny .content {
	margin-top: 6%;
	font-size: 10pt;
	font-size: 1.4vw;
	width: 100%;
	text-align: center;
	line-height: 1em;
	color: rgb(102,102,102);
}
.info-intro {
	position: relative;
	padding-top: 10%;
	width: 100%;
}
.info-intro .title {
	font-size: 14pt;
	font-size: 2.6vw;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: rgb(102,102,102);
}

.info-intro .content {
	margin-top: 6%;
	font-size: 12pt;
	font-size: 1.25vw;
	width: 100%;
	text-align: center;
	line-height: 1.2em;
	color: rgb(102,102,102);
}
.info-intro .content p {
	margin-bottom:0.6em;
}
.hexs-shape-left {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	clip-path: polygon(50% 0, 0 50%, 50% 100%, 0 100%, 0 0);
	shape-outside: polygon(50% 0, 0 50%, 50% 100%, 0 100%, 0 0);
	shape-margin: 8%;
	z-index: 0;
}
.hexs-shape-right {
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 100% 100%, 100% 0);
	shape-outside: polygon(50% 0, 100% 50%, 50% 100%, 100% 100%, 100% 0);
	shape-margin: 8%;
	z-index: 0;
}
@-moz-document url-prefix() {
	.hexs-shape-left, .hexs-shape-right {
		width: 15%;
	}
}
@supports (-ms-ime-align:auto) {
	.hexs-shape-left, .hexs-shape-right {
		width: 15%;
	}
}
_:-ms-lang(x), .hexs-shape-left, .hexs-shape-right {
		width: 10%;
	}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	::i-block-chrome,.hexs-shape-left, ::i-block-chrome,.hexs-shape-right {
		width: 15%;
	}
}
.hex-for-coinitem .hexs-shape-left {
	shape-margin: 3%;
}
.hex-for-coinitem .hexs-shape-right {
	shape-margin: 3%;
}
.hex-for-intro .hexs-shape-left {
	shape-margin: 3%;
}
.hex-for-intro .hexs-shape-right {
	shape-margin: 3%;
}
.hex-for-coinitem-tiny .hexs-shape-left {
	shape-margin: 1%;
}
.hex-for-coinitem-tiny .hexs-shape-right {
	shape-margin: 1%;
}
.content-a {
	position: absolute;
	width: 50%;
	min-width: 500px;
	transform: translate(20%, 0%) rotate(0deg);
	z-index: 1800;
	margin-top: 10%;
}
.content-a-inner .bold {
	font-weight: 200;
}
.content-c {
	position: absolute;
	width: 70%;
	padding-bottom: 30%;
	transform: translate(21.43%, 365%) rotate(0deg);
	z-index: 1600;
}
.content-c-inner {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1801;
	color: rgb(102,102,102);
}
.content-d {
	position: absolute;
	width: 85%;
	padding-bottom: 30%;
	transform: translate(8%, 570%) rotate(0deg);
	z-index: 1800;
}
.content-d-inner {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1801;
	color: rgb(102,102,102);
}
.navbar {
	padding-left: 10vw;
	position: absolute;
	width: 100%;
	min-width: 400px;
	z-index: 1800;
	height: 3.5vw;
	top: 2vw;
	visibility: hidden;
}
.menubar {
	display: table;
	width: 100%;
	height: 100%;
}

.navbar-fixed .menubar {
	width: 70%;
	right: 1%;
	position:  absolute;
}
.navbar-fixed .menubar .menu_item {
	font-size: 1.6vw;
}
_:-ms-lang(x), .navbar-fixed .menubar  .menu_item {
	width: 15%;
}
.menu_mark {
	display: none;
	position:  absolute;
	font-size: 3.3vw;
	font-weight: bold;
	margin-left: 1vw;
	color: rgb(102,102,102);
	bottom: 0;
	background-color:rgba(0,0,0,0);
	border:0;
	font-family: "Myriad Pro",arial,helvetica,sans-serif !important;
}
.menu_mark-fixed {
	display: table-cell;
	vertical-align: text-bottom;
	line-height: 1em;
	border: 0;
	padding: 0;
}
input[type=button]:focus {
	outline: 0;
}
.menu_mark:hover {
	filter: drop-shadow(0px 2px 2px rgba(104,104,104,0.3));
}
_:-ms-lang(x), .menu_item {
	font-size: unset;
}
.menu_item {
	display: inline-block;
	font-size: 1.8vw;
	font-weight: normal;
	color: rgb(108,108,108);
	display: table-cell;
	vertical-align: middle;
	text-align: center;

}
.menu_item a:link, .menu_item a:visited {
	color: rgb(108,108,108);
}

.menu_item a {
	display: inline-block;
}
.menu_item a:hover {
	filter:drop-shadow(0px 1px 1px rgba(104,104,104,0.3));
}
.content-diff {
	background-color: white;
	width: calc(230px + 11vw);
	height: calc(200px + 20vw);
	margin: 20px;
	position: relative;
	float: center;
	display: inline-block;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-right: 1px solid rgba(0,0,0,.15);
	box-shadow: 0 0 0 0px rgba(0,0,0,.1), 5px 5px 5px rgba(0,0,0,.1);
	border-radius: 4px;
}
.content-diff:hover {
	box-shadow: 0 0 0 0px rgba(0,0,0,.1), 8px 8px 8px rgba(0,0,0,.2);
	border-radius: 4px;
}
.content-diff-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	filter: brightness(1.0);
}
.content-diff img {
	height: calc(30px + 4vw);
}
.content-diff .logo {
	filter: brightness(1.0);
	width: 100%;
	margin-top: 10%;
	margin-bottom: 5%;
	text-align: center; 
}
.content-diff .title {
	width: 100%;
	margin-top: 8%;
	margin-bottom: 8%;
}
.content-diff .content {
	text-align: left;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.3vw;
	line-height: 1.2em;
	bottom: 10%;
	height: 35%;
	position: absolute;
}
.content-diff h2 {
	font-size: 1.8vw;
	font-weight: bold;
	line-height: 1.3em;
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
	text-decoration: underline;
	color: rgb(102,102,102);
	p.upcase{      text-transform: capitalize;
	font-variant:small-caps;
	font-weight:bold;   }
	p.upcase{      text-transform: capitalize;
	font-variant:small-caps;
	font-weight:bold;   }
	p.upcase {      text-transform: capitalize;
	font-variant:small-caps;
	font-weight:bold;   }
	text-transform: capitalize;
	font-weight:bold;
	text-transform: capitalize;
	font-variant-caps: all-petite-caps;
}
.navbar-fixed {
	transform: none;
	/* padding-bottom:  0; */
	position: fixed;
	background-color: white;
	border-bottom-width: 2px;
	box-shadow: 0 8px 4px -4px #80808073;
	z-index: 10000;
	top: 0;
	right: 0;
	width: 100%;
	padding-left: 0;
	visibility: visible;
	display: block;
}
div.hexs {
  position: absolute;
  margin: 0 auto;
  margin-top: 0px
}
div.hex-type-a {
  filter: drop-shadow(0px 0.6vw 0.3vw rgba(0,0,0,0.1));
}
div.hex-type-a:hover, div.hex-type-a div.hexs-clipbox:hover {
  filter: drop-shadow(0px 1vw 0.5vw rgba(0,0,0,0.15));
}

div.hexs > div.hexs-clipbox, div.hexs > div.hexs-clipboxouter {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%);

  -webkit-box-shadow: 30px 30px 300px -50px rgba(0,0,0,0.48);
  -moz-box-shadow: 30px 30px 300px -50px rgba(0,0,0,0.48);
  box-shadow: 30px 30px 300px -50px rgba(0,0,0,0.48);  height: 100%;
  width: 100%;
}
div.hexs > div.hexs-clipboxouter {
  position: absolute;
  transform:scale(1);
}
div.hexs {
  position: absolute;
  margin: 0 auto;
  margin-top: 0px;
}
div.hex-type-a {
  filter: drop-shadow(0px 0.6vw 0.3vw rgba(0,0,0,0.1));
}
div.hex-type-a:hover, div.hex-type-a div.hexs-clipbox:hover {
  filter: drop-shadow(0px 1vw 0.5vw rgba(0,0,0,0.15));
}
div.hex-type-b2 {
  filter: drop-shadow(0px 0.6vw 0.3vw rgba(0,0,0,0.1));
}
div.hex-type-b2:hover, div.hex-type-a div.hexs-clipbox:hover {
  filter: drop-shadow(0px 1vw 0.5vw rgba(0,0,0,0.15));
}
div.hexs > div.hexs-clipbox, div.hexs > div.hexs-clipboxouter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.DownWhitePaperButton {
	border-top: 3px solid rgb(102,102,102);
	border-left:		3px solid rgb(102,102,102);
	border-right:		3px solid rgb(102,102,102);
	border-bottom:		3px solid rgb(102,102,102);
	padding:		1vw 2vw !important;
	font-size:		1.8vw !important;
	background-color:	#ffffff;
	font-weight:		bold;
	color:			rgb(102,102,102);
	display:block;
	margin-top: 4vw;
}
.DownWhitePaperButton:hover {
	background-color: rgb(240,240,240);
}
a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration:none;
}
a[href]:hover {
	cursor: pointer;
}
.logo-toolbar-fixed-img {
	display:inline-block;
	position: absolute;
	width: 10vw;
}
.navbar-fixed .logo-toolbar-fixed-img {
	width: 3.5vw;
	padding-left: 1.2vw;
}
.navbar:not(.navbar-fixed) .logo-toolbar-fixed-img {
	display:none;
}
.menu_logo-toolbar-img {
	display: table-cell;
	/* width: 3.5vw; */
	padding-left: 1.2vw;
	filter: grayscale(0%);
	height: 100%;
}
.menu_logo_title h1 {
    text-align: left;
    font-size: 64pt;
    font-size: 6vw;
    display: block;
    font-weight: 900;
    display: inline-block;
    /* line-height: 1em; */
    height: 100%;
    display: table;
    /* height: 3vw; */
    /* box-sizing: border-box; */
}
.navbar:not(.navbar-fixed) .menubar {
    display: table;
    width: 60%;
    right: 10%;
    position:absolute;
    left: 22vw;
}
.navbar:not(.navbar-fixed) .menubar .menu_item_2 {
	visibility: hidden;
}
.content * {
	text-align: center;
}
.logo-toolbar-img {
	width: 10vw;
	display: inline-block;
}
.content-a-inner h1 div {
	display: table-cell;
	padding: 2vw;
	vertical-align: middle;
}
.menu_logo_title {
	position:absolute;
	/* height: 100%; */
	display: table;
}
/* */
.menu_logo_title h1 div {
    display: table-cell;
    padding: 2vw;
    vertical-align: middle;
    font-size: 8vh;
}